<h1>Formulario clientes</h1>
<po-button p-label="Voltar" [routerLink]="['']"></po-button>

<form #form="ngForm">
    <po-input p-label="Nome: " name="nome" [(ngModel)]="cliente.nome"></po-input>
    <po-input p-label="CNPJ: " name="cnpj" [(ngModel)]="cliente.cnpj"></po-input>
    <po-input p-label="Nicho: " name="nicho" [(ngModel)]="cliente.nicho"></po-input>
    <po-input p-label="Cep: " name="cep" [(ngModel)]="cliente.cep"></po-input>
    <po-input p-label="Rua: " name="rua" [(ngModel)]="cliente.rua"></po-input>
    <po-input p-label="Bairro: " name="bairro" [(ngModel)]="cliente.bairro"></po-input>
    <po-input p-label="Cidade: " name="cidade" [(ngModel)]="cliente.cidade"></po-input>
    <po-button p-label="Adicionar Cliente" (p-click)="salvar()"></po-button>
</form>
